:root {
  --PastelYellow: #fff563;
  --PastelGreen: #9dffb0;
  --SkyBlue: #81f1f7;
  --white: #fffffa;
  --brownie: #c48d3f;

  --WestCoast: #785A28;
  --Marigold: #C89B3C;
  --HarvestGold: #C8AA6E;
  --AlbescentWhite: #F0E6D2;
  --CloudBurst: #283151;
  --WaikawaGray: #607aa6;
  --PoloBlue: #94a7ce;
  --Snuff: #d2d0e7;
  --BlueChalk: #E4E0ff;
  --WildWatermelon: #fb6f92;
  --TickleMePink: #ff8fab;
  --Lightpink: #ffb3c6;
  --Pink: #ffc2d1;
  --Remy: #ffe5ec; 

  --primary: var(--Lightpink);
  --secondary: var(--TickleMePink);
  --tertiary: var(--Pink);
  --quaternary: var(--WildWatermelon);
}

.Pink {
  --primary: var(--TickleMePink);
  --secondary: var(--Lightpink);
  --tertiary: var(--Pink);
  --quaternary: var(--WildWatermelon);
}

.Blue {
  --primary: var(--WaikawaGray);
  --secondary: var(--PoloBlue);
  --tertiary: var(--Snuff);
  --quaternary: var(--CloudBurst);
}

.Original {
  --primary: var(--Marigold);
  --secondary: var(--HarvestGold);
  --tertiary: var(--AlbescentWhite);
  --quaternary: var(--WestCoast);
}

body,
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--tertiary);
}

.Title {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: var(--primary);
  font-size: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  font-family: 'Bad Script', cursive;
  border: 10px solid var(--secondary);
  box-shadow: 10px 7px 10px var(--quaternary);
  border-radius: 25px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.galleri {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.gall {
  width: 23%;
  height: 31vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 10px solid var(--secondary);
  margin-bottom: 1.5rem;
  padding: 3px;
  background-color: var(--primary);
  box-shadow: 10px 7px 10px var(--quaternary);
  border-radius: 25px;
}

.img {
  width: 70%;
  height: 70%;
  border: 10px solid var(--secondary);
  background-color: var(--primary);
  border-radius: 25px;
}

.Name {
  font-size: 1.3rem;
  font-family: 'Bad Script', cursive;
  background-color: var(--primary);
}

.Species {
  font-size: 1.1rem;
  font-family: 'Bad Script', cursive;
  background-color: var(--primary);
}

.StarSign {
  font-size: 1.1rem;
  font-family: 'Bad Script', cursive;
  background-color: var(--primary);
}


#enter {
  font-size: 1.1rem;
  font-family: 'Bad Script', cursive;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  width: 10%;
  border: 10px solid var(--secondary);
  box-shadow: 10px 7px 10px var(--quaternary);
  background-color: var(--primary);
  border-radius: 25px;
}
#artenter {
  font-size: 1.1rem;
  font-family: 'Bad Script', cursive;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  width: 10%;
  border: 10px solid var(--secondary);
  box-shadow: 10px 7px 10px var(--quaternary);
  background-color: var(--primary);
  border-radius: 25px;
}
.search {
  font-size: 1.1rem;
  font-family: 'Bad Script', cursive;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  width: 10%;
  border: 10px solid var(--secondary);
  box-shadow: 10px 7px 10px var(--quaternary);
  background-color: var(--primary);
  border-radius: 25px;
}
.artsearch {
  font-size: 1.1rem;
  font-family: 'Bad Script', cursive;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  width: 10%;
  border: 10px solid var(--secondary);
  box-shadow: 10px 7px 10px var(--quaternary);
  background-color: var(--primary);
  border-radius: 25px;
}
.labbed {
  font-size: 1.1rem;
  font-family: 'Bad Script', cursive;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  width: 10%;
  border: 10px solid var(--secondary);
  box-shadow: 10px 7px 10px var(--quaternary);
  background-color: var(--primary);
  border-radius: 25px;
}
.themes{
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
.filters{
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  display: flex;
}